// Body
$body-bg: #f5f8fa;

// Typography
$headings-font-family: 'Montserrat', sans-serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Card
$card-border-color: transparent;
$card-border-width: 2px;
.card,
.card-header {
    border: 0 !important;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1) !important;
}

.card-body {
    border-top: 0 !important;
}

// Table
$table-border-color: #f5f8fa;
$table-border-width: 2px;
.table thead th {
    background: #e8ebef;
    border-top-width: 0 !important;
    border-bottom-width: $card-border-width !important;
}


// List group
$list-group-border-radius: 0;